[submodule "submodules/ListViewAnimations"]
	path = submodules/ListViewAnimations
	url = https://github.com/nhaarman/ListViewAnimations.git
[submodule "submodules/Volley"]
	path = submodules/Volley
	url = https://android.googlesource.com/platform/frameworks/volley
[submodule "submodules/ActionBar-PullToRefresh"]
	path = submodules/ActionBar-PullToRefresh
	url = https://github.com/chrisbanes/ActionBar-PullToRefresh.git
[submodule "submodules/SwitchCompatLibrary"]
	path = submodules/SwitchCompatLibrary
	url = https://github.com/ankri/SwitchCompatLibrary.git 
